{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-runtime",
        "transform-async-to-generator",
        "transform-class-properties",
        "react-hot-loader/babel",
        "dual-import"
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "react"
            ]
        }
    }
}